PORT=3000

AUTH_SERVICE_URL="http://localhost:3001"
CATALOG_SERVICE_URL="http://localhost:3002"
ORDERS_PAYMENTS_SERVICE_URL="http://localhost:3003"

# 100 requests por minuto por IP, por defecto
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100
CORS_ORIGIN="*"
SENTRY_DSN=""
